# EditorConfig is a file format that helps maintain consistent coding styles
# across different editors and IDEs
# https://editorconfig.org/

root = true

# For all files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Go specifics
[*.go]
indent_style = tab
indent_size = 4

# Svelte specifics
[*.svelte]
indent_size = 2

# Dockerfiles
[Dockerfile]
indent_size = 4

# Docker compose
[docker-compose*.yml]
indent_size = 2

# Makefile
[Makefile]
indent_style = tab

# SQL files
[*.{sql,pgsql}]
indent_size = 2
indent_style = tab
trim_trailing_whitespace = true
max_line_length = 80

# Markdown
[*.md]
trim_trailing_whitespace = false

# JSON/YAML configuration files
[*.{json,yml,yaml}]
indent_size = 2